@charset "UTF-8";

.nov{
    position: relative;
    margin: 50px auto;
    width:200px;
    height:40px;
     
     transform-style: preserve-3d;

     
    
}
.nov div{

    width:200px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:30px;
    /*position: absolute;
    left:0px;
    top:0px;*/
}
@-webkit-keyframes gogogo {
    0%{
        
        -webkit-transform:rotateX(-30deg);
    
    }
    25%{
        -webkit-transform:rotateX(0deg);
       
    }
   50%{
        -webkit-transform:rotateX(30deg);
       
    }
     75%{
        -webkit-transform:rotateX(0deg);
       
    }
     100%{
        -webkit-transform:rotateX(-30deg);
       
    }

    

}

.text1{
    background:red;
    transform-origin: 0px bottom;
    transform:rotateX(90deg);
}
.text2{
    background: blue;
    
    transform:rotateX(0deg);
}

.text3{
    background:green;
    transform-origin: 0px top;
    transform:rotateX(-90deg);
}
.nov:hover{
     -webkit-animation:gogogo .75s infinite linear ;
}