@charset "UTF-8";

h1{
    color:red;
}
.nov{
    width: 300px;
    height: 300px;
    background:url(../img/wyr.jpg);
     border-radius:100%; 
    border:20px red  solid;
    background-size:cover;
    
}
